/* Palette URL: http://colorschemedesigner.com/#1261Tw0w0w0w0 */
$primary-1: #FFB300;
$primary-2: #BF9430;
$primary-3: #A67400;
$primary-4: #FFC640;
$primary-5: #FFD573;

$secondary-a-1: #FFDB00;
$secondary-a-2: #BFAB30;
$secondary-a-3: #A68F00;
$secondary-a-4: #FFE440;
$secondary-a-5: #FFEB73;

$secondary-b-1: #FF8100;
$secondary-b-2: #BF7830;
$secondary-b-3: #A65400;
$secondary-b-4: #FFA040;
$secondary-b-5: #FFBA73;

$complement-1: #1533AD;
$complement-2: #2C3D82;
$complement-3: #071C71;
$complement-4: #4965D6;
$complement-5: #6F83D6;
