html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Palette URL: http://colorschemedesigner.com/#1261Tw0w0w0w0 */
body {
  width: 900px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px; }

h1 {
  font-size: 220%; }

h2 {
  font-size: 145%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 115%; }

#header {
  padding: 10px;
  background-color: #bf7830; }

#mainmenu {
  padding: 5px;
  padding-bottom: 15px;
  background-color: #bf7830; }

#navigation {
  float: left;
  width: 180px;
  padding: 10px; }

#news {
  float: right;
  width: 180px;
  padding: 10px; }

#pagecontent {
  margin-left: 220px;
  margin-right: 220px;
  color: #071c71; }
  #pagecontent p {
    text-indent: 2em; }

#footer {
  padding: 10px;
  background-color: #bf7830; }

#wrapper1 {
  background: url(images/bg1.png) repeat-y left top;
  background-color: #ffeb73; }

#wrapper2 {
  background: url(images/bg1.png) repeat-y right top; }

.mainmenuitem {
  margin-left: 4px;
  padding: 2px;
  background-color: #ffb300; }

.box_test {
  border: 1px solid #f00; }
